<section>
    <div class="page-header">
        <div class="container">
            <div class="cloud-1">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-2">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-3">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-4">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <h2 class="title-en">Legal infor</h2>
            <h3 class="title-jp">特定商取引法に基づく表記</h3>
        </div>
    </div>
</section>
{% render 'breadcrumbs' %}
<section>
    <div class="legal-info">
        <div class="container">
            <table class="table-legal table-bordered">
                <tr>
                    <td>販売業者</td>
                    <td>株式会社バント</td>
                </tr>
                <tr>
                    <td>代表責任者</td>
                    <td>代表取締役　渡辺 浩平</td>
                </tr>
                <tr>
                    <td>所在地</td>
                    <td>東京都渋谷区広尾1-11-2　アイオス広尾8階 </td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td>03-5422-9959</td>
                </tr>
                <tr>
                    <td>メールアドレス</td>
                    <td>〇〇〇〇@e-bunt.com</td>
                </tr>
                <tr>
                    <td>消費税</td>
                    <td>食品の消費税は8%、食品以外の商品、また送料の消費税は10%です。</td>
                </tr>
                <tr>
                    <td>お支払い方法</td>
                    <td>クレジットカード決済・コンビニ決済・代引き</td>
                </tr>
                <tr>
                    <td>お支払い期限</td>
                    <td>・クレジットカード決済：商品注文時にお支払いが確定します。<br>・コンビニ決済：注文後○日以内にお支払いください。<br>・代引き：商品到着時、配達員の方へ現金でお支払いください。</td>
                </tr>
                <tr>
                    <td>商品引き渡し時期</td>
                    <td>ご注文日から○営業日以内に発送いたします。</td>
                </tr>
                <tr>
                    <td>商品の販売価格</td>
                    <td>各商品ページをご参照ください。</td>
                </tr>
                <tr>
                    <td>商品代金以外の必要料金</td>
                    <td>・銀行振込でご購入の際は振込手数料<br>・代金引換でご購入の際は代引手数料</td>
                </tr>
                <tr>
                    <td>商品代金以外に必要な料金</td>
                    <td>・配送料（宅急便：〇〇円、メール便：□□円）<br>・手数料（コンビニ決済：△△円、代引き:××円）</td>
                </tr>
                <tr>
                    <td>返品・交換について</td>
                    <td>商品到着後〇〇日以内に限り返品・交換が可能です。</td>
                </tr>
                <tr>
                    <td>返品送料</td>
                    <td>商品に欠陥がある場合には当方負担、お客様のご都合による返品・交換の場合にはお客様負担となります。</td>
                </tr>
            </table>
        </div>
    </div>
</section>